html, body {
  background: linear-gradient(to right, #0099FF, #66DDFF);
  color: white;
  font: 20pt Arial, sans-serif;
  text-align: center;
}

.header {
  background-color: rgba(44, 44, 44, 0.5);
  border-radius: 20px;
}

.header-title {
  display: inline-block;
  margin: 20px;
}

.game-container {
  margin: 20px 0;
}

.text-screen {
  animation-name: fade-in;
  animation-duration: 0.6s;
  background-color: rgba(77, 77, 77, 0.2);
  border-radius: 20px;
  margin: 100px 0;
  padding: 20px 10px;
}

.info {
  margin: 10px 0;
}

.container {
  width: 600px;
  margin: 20px auto;
}


.play-letter-box {
  padding: 60px 0;
}

.user-letter, .scramble-letter {
  border-radius: 10px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  margin: 5px;
  text-transform: uppercase;
  width: 70px;
}

.user-letter {
  animation-name: lighten;
  animation-duration: 0.2s;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  color: rgb(00, 70, 140);
  display: inline-block;
}

.scramble-letter {
  animation-name: darken;
  animation-duration: 0.2s;
  background-color: rgba(150, 150, 150, 0.5);
  color: black;
  display: inline-block;
}

@keyframes lighten {
  from {
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 10px;
  }
}

@keyframes darken {
  from {
    background-color: rgba(255, 255, 255, 0.5);
    borer-radius: 30px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
